{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <div class="container mb-30 mt-30" >
        <h1 class="text-center mb-30">{{ctch.name}}</h1>
        <div class="d-flex">
            <img src="{{ ctch.image.url}}" alt="" width="300px" height="300px" class="mr-30">
            <div>
                <h4 class="text-success">Mô tả</h4>
                <h5 class="text-justify">{{ctch.noidungsp}}</h5>
                <p><strong>Số lượng</strong>
                    <input type="number" id="number" min="1" value="1" name="quantitys">
                </p>
                <div class="d-flex">
                    <h5 class="card-text" style="color: #006b1b">Giá:</h5>
                    <h5 style="color: #fa2222">{{ctch.price}}</h5>
                    <h5 style="color: #fa2222; margin-left: 5px">VNĐ</h5>
                </div>
                <a type="button" class="btn-success" href="{% url 'cart_add' ctch.masp %}">Thêm vào giỏ</a>
            </div>
        </div>
    </div>
{% endblock %}