{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <div class="container" style="margin-top: 20px; margin-bottom: 20px ">
        <h1 class="text-center"> Cửa Hàng </h1>
        <hr>
        <div class="row">
            {% for sanpham in ch %}
            <div class="col mb-3">
                <div class="card" style="width: 18rem; height: 350px">
                    <img src="{{sanpham.image.url}}" class="card-img-top" width="200px" height="200px">
                    <div class="card-body">
                        <h4 class="card-title" style=".card-title:hover{color:green}"><a href="{% url 'chi tiết cửa hàng' sanpham.masp %}">{{sanpham.name}}/{{sanpham.donvitinh}}</a></h4>
                        <div class="d-flex">
                            <h5 class="card-text" style="color: #006b1b">Giá:</h5>
                            <h5 style="color: #fa2222">{{sanpham.price}}</h5>
                            <h5 style="color: #fa2222; margin-left: 5px">VNĐ</h5>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a type="button" class="btn-success p-2" href="{% url 'cart_add' sanpham.masp %}">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for sanpham in ch_1 %}
            <div class="col mb-3">
                <div class="card" style="width: 18rem; hieght: 350px">
                    <img src="{{ sanpham.image.url}}" class="card-img-top" width="200px" height="200px">
                    <div class="card-body">
                        <h4 class="card-title"><a href="{% url 'chi tiết cửa hàng' sanpham.masp %}">{{sanpham.name}}/{{sanpham.donvitinh}}</a></h4>
                        <div class="d-flex">
                            <h5 class="card-text" style="color: #006b1b">Giá:</h5>
                            <h5 style="color: #fa2222">{{sanpham.price}}</h5>
                            <h5 style="color: #fa2222; margin-left: 5px">VNĐ</h5>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a type="button" class="btn-success p-2" href="{% url 'cart_add' sanpham.masp %}">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for sanpham in ch_2 %}
            <div class="col mb-3">
                <div class="card" style="width: 18rem; hieght: 350px">
                    <img src="{{ sanpham.image.url}}" class="card-img-top" width="200px" height="200px">
                    <div class="card-body">
                        <h4 class="card-title"><a href="{% url 'chi tiết cửa hàng' sanpham.masp %}">{{sanpham.name}}/{{sanpham.donvitinh}}</a></h4>
                        <div class="d-flex">
                            <h5 class="card-text" style="color: #006b1b">Giá:</h5>
                            <h5 style="color: #fa2222">{{sanpham.price}}</h5>
                            <h5 style="color: #fa2222; margin-left: 5px">VNĐ</h5>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a type="button" class="btn-success p-2" href="{% url 'cart_add' sanpham.masp %}">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}