{% extends "home/base.html" %}
{% load static %}
{% block content %}

    <div class="card p-2 my-5 mx-auto" style="width:30rem;">
        <h2 class="container d-flex justify-content-center"> Đăng Ký Tài Khoản </h2>
        <div class="container d-flex justify-content-center">
            <form action="{% url 'đăng kí' %}" method="post">
                {% csrf_token %}
                {{ dk.as_p }}
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Đăng Ký" class="btn-success py-2 px-4">
                </div>
            </form>
       </div>
    </div>
{% endblock %}