{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <div class="card p-2 my-5 mx-auto" style="width:30rem;">
        <h2 class="container d-flex justify-content-center"> Đăng Nhập Tài Khoản </h2>
       <div class="container d-flex justify-content-center">
            <form action="{% url 'đăng nhập' %}" method="post">
                {% csrf_token %}
                {{ dn.as_p }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn-success py-2 px-4">Đăng nhập</button>
                </div>
            </form>

       </div>
    </div>
{% endblock %}