{% extends 'home/base.html' %}
{% block content %}
{% load static%}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Giỏ Hàng của bạn</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->


<!-- cart -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Ảnh</th>
                                <th class="product-name">Tên Sản Phẩm</th>
                                <th class="product-price">Giá</th>
                                <th class="product-quantity">Số Lượng</th>
                                <th class="product-total">Tổng Tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr class="table-body-row">

                                    <td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
                                    <td class="product-image"><img src="{{item.sanpham.hinhsanpham}}" alt=""></td>
                                    <td class="product-name">{{item.sanpham.tensp}}</td>
                                    <td class="product-price">{{item.sanpham.giasp}} </td>
                                    <td class="product-quantity arrow">
<!--                                         {% comment %} <input type="text" placeholder="{{item.quantity}}">  {% endcomment %}-->
<!--                                        <p class="quantity">{{item.quantity}}</p>-->
                                        <img data-product={{item.sanpham.masp}} data-action="remove" class="chg-quantity update-cart down" src="{% static 'img/arrow-down.png' %}">
                                        <img data-product={{item.sanpham.masp}}  data-action="add" class="chg-quantity update-cart up" src="{% static  'img/arrow-up.png' %}">
                                    </td>




                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Nội Dung</th>
                                <th>Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Tổng Số Sản Phẩm: </strong></td>
                                <td>{{order.get_cart_items}}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Tổng Tiền: </strong></td>
                            </tr>


                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        <a href="{%url 'cửa hàng'%}" class="boxed-btn">Mua Thêm</a>
                        <a href="checkout.html" class="boxed-btn black">Check Out</a>
                    </div>
                </div>

                <div class="coupon-section">
                    <h3>Apply Coupon</h3>
                    <div class="coupon-form-wrap">
                        <form action="index.html">
                            <p><input type="text" placeholder="Coupon"></p>
                            <p><input type="submit" value="Apply"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cart -->

{% endblock content %}