{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h2 style="font-family:Arial; color: #f5cc07 " class="text-center mt-3 mb-3">Giới Thiệu</h2>
        <hr>
        <h5 class="text-justify">Cây thuốc là thực vật được con người dùng làm thuốc hay còn gọi là thảo dược hay thảo mộc.
            Những cây này có khả năng tổng hợp các hợp chất hóa học hết sức đa dạng được dùng cho các chức năng sinh học quan trọng của cây hoặc được dùng để chống lại côn trùng, nấm và động vật ăn thực vật.
            Tính đến nay có ít nhất 12.000 chất như vậy đã được cô lập, và con số này chỉ chiếm chưa đến 10% tổng số chất như thế.
            Hợp chất hóa học trong cây tác động lên cơ thể người thông qua các tiến trình tương tự các tiến trình mà các thuốc bình thường vẫn thực hiện, vì thế nói về cơ chế hoạt động thì thuốc làm từ cây không khác mấy thuốc thông thường, và thuốc từ làm cây cũng có thể có tác dụng phụ nguy hại.</h5>
        <img src="{% static 'img/gallery/gt.jpg'%}" alt="" class="ml-200">
        <h3 class="mt-3 mb-3">Đặc tính của cây thuốc nam</h3>

        <h5 class="text-justify mt-3 mb-3 "> Một trong những đặc tính của cây thuốc nam là có nguồn gốc bản xứ  với cách chế biến ưa thích là sử dụng dạng tươi hoặc sấy khô.

            Những cây thuốc nam thường là những thực vật quen thuộc ở xung quanh chúng ta như: gừng tỏi, rau răm, kin giới, bạc hà, tơ hồng . . .

            Những vị thuốc này thường được dùng để xông hơi, sắc uống hoặc đắp ngoài da.

            Có một số thầy thuốc y học cổ truyền, thì sẽ phân biệt bằng việc thuốc bắc thì chủ yếu dùng rễ của cây còn thuốc nam thì chủ yếu dùng thân và lá cây. Nhưng điều này chỉ mang tính tương đối, tùy thuộc vào loại thảo dược mà sử dụng bộ phận nào cho phù hợp.

            Những bài thuốc nam thường được đúc kết ghi lại từ những kinh nghiệm truyền đời của cha ông từ đời này sang đời khác, bởi vậy liều lượng hay hiệu quả ra sao còn tùy thuộc vào tay nghề của những thầy thuốc Đông y.</h5>
    </div>
{% endblock %}